*{
    body{
        background: rgb(20, 19, 19);
        color: white;
        font-family: Arial, sans-serif;
    }
    .lado{
        margin-left: 100px;
        margin-right: 100px;
    }
    .stream{
        margin-left: 100px;
        margin-right: 100px;
    }
    .campo{
        text-align: center;
    }
    .center{
        background-color: black;
    }
    
    .botao{
        margin-left: 79.3%;
        border-radius: 6px;
        font-size:1em;
        border: 0;
        margin-bottom: 1em;
        padding: 0.2em 0.5em;
        border: none;
    }
    .botao2{
        margin-left: 47.8%;
        border-radius: 6px;
        font-size:1em;
        border: 0;
        margin-bottom: 1em;
        padding: 0.2em 0.5em;
        border: none;
    }
    .botao3{
        margin-left: 46.4%;
        border-radius: 6px;
        font-size:1em;
        border: 0;
        margin-bottom: 1em;
        padding: 0.2em 0.5em;
        border: none;
    }
    .botao4{
        margin-left: 48.3%;
        border-radius: 6px;
        font-size:1em;
        border: 0;
        margin-bottom: 1em;
        padding: 0.2em 0.5em;
        border: none;
    }
    .botao:hover, .botao2:hover, .botao3:hover, .botao4:hover, select:hover{
        background: rgb(110, 101, 101);
    }
    
    
    header{
        background: black;
    }
    header img{
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .duna{
        display: inline-block;
        margin-left: 81.5%;
    }
    .idi{
        margin-left: 48.2%;
        border-radius: 6px;
        font-size:1em;
        border: 0;
        margin-bottom: 1em;
        padding: 0.2em 0.4em;
        border: none;
    }
    .plan{
        margin-left: 59%;
        border-radius: 6px;
        font-size:1em;
        border: 0;
        margin-bottom: 1em;
        padding: 0.2em 0.4em;
        border: none;
    }
    .pag{
        margin-left: 42.7%;
        border-radius: 6px;
        font-size:1em;
        border: 0;
        margin-bottom: 1em;
        padding: 0.2em 0.4em;
        border: none;
    }
}
